<%- include header.ejs %>

<div class = "single-book">
  <table class="table table-hover table-responsive">
    <thead>
      <th>Title</th>
      <th>Author</th>
      <th>Genre</th>
      <th>Pages</th>
      <th>Publisher</th>
    </thead>
    <tbody>
        <tr id="individual-book-data">
          <td><%= book.title %></td>
          <td><%= book.author %></td>
          <td><%= book.genre %></td>
          <td><%= book.pages %></td>
          <td><%= book.publisher %></td>
        </tr>
        <tr id="edit-individual-book">
          <button id="edit-button">Edit</button>
          <form action="/bookstore/<%= book.id %>?_method=PUT" method="POST">
            <td><input type="text" name="title" value="<%= book.title %>"/></td>
            <td><input type="text" name="author" value="<%= book.author %>"/></td>
            <td><input type="text" name="genre" value="<%= book.genre %>"/></td>
            <td><input type="text" name="pages" value="<%= book.pages %>"/></td>
            <td><input type="text" name="publisher" value="<%= book.publisher %>"/></td>
        </tr>
          <span><button id="save-button" type="submit" value="Save">Save</button></span>
          </form>
        <form action="/bookstore/<%= book.id %>?_method=DELETE" method="post" >
          <span><button id="delete-button" type="submit">Delete</button></span>
        </form>
    </tbody>
  </table>
</div>

<%- include footer.ejs %>
